@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or App.css */

/* index.css or App.css */

body {
    background-color: #ebedf2;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url('/public/2870384_15002.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rtf_Table{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.973);
}

.rdt_TableCol{
    font-size: 16px;
    font-weight: 500;
    background: #3453d1;
    color: #f6f6f6;
    
}
.rdt_TableCell{
    font-size: 14px;
    
}   

.route{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

.submit_button{
    background-color: rgb(0, 85, 255);
    color: #ffffff;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
}

.submit_button:hover{
    background-color: rgb(2, 61, 179);
    color: #ffffff;
   
    cursor: pointer;
}


  